---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
import { SITE } from "../site-config";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3">
  <div class="h-full">
    <header class="flex items-center">
      <h2 class="text-white text-xl font-bold">
        一起合作吧！
      </h2>
    </header>
    <address class="flex flex-col mt-4">
      <h2 class="text-darkslate-300">联系方式</h2>
      <p class="text-sm"><a href={`mailto:${SITE.links.email}`}>{SITE.links.email}</a></p>
      <p class="text-sm"><a href={`mailto:${SITE.links.email2}`}>{SITE.links.email2}</a></p>
    </address>
    <div class="flex flex-col mt-4 w-fit">
      <h2 class="text-darkslate-300 text-sm">社交</h2>
      <ul class="text-xs">
        <li>
          <a href={LINKS.github} target="_blank">Github</a>
        </li>
        <li>
          <a href={LINKS.telegram} target="_blank">Telegram</a>
        </li>
        <li>
          <a href={LINKS.twitter} target="_blank">Twitter</a>
        </li>
        <li>
          <a href={LINKS.discord} target="_blank">Discord</a>
        </li>
      </ul>
    </div>
  </div>
</Card>
